<header>
    <nav class="navbar">
        <nav class="container">
            <nav class="company">
                <img class="logo" src="img/favicon.jpg" alt="" width="50" height="50" />
                <h3>Spectra</h3>
            </nav>
            <nav class="navbar__links">
                <a href="/login" class="header_links">Login </a>
                <a href="#" class="header_links">Sign Up</a>
            </nav>
        </nav>
    </nav>
</header>